<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doação de Sangue</title>
</head>

<body>

  <header>
    <h1>SDS - BRASIL</h1>
    <p>Sistema de doação de sangue para território nacional</p>
    <a routerLink="/cadastro"><button class="btn-google">Novo Doador</button></a>
    <a routerLink="/busca"><button class="btn-example">Buscar Doador</button></a>
    <a (click)="buscarDoacoes()"><button class="btn-example">Ver Doações</button></a>
  </header>

  <!-- Conteúdo principal -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <div class="footer">
    <p>© 2024 - SDS do Brasil</p>
  </div>

</body>

</html>